networks:
  traefik:
    external: true

services:
  whoami:
    image: traefik/whoami
    restart: unless-stopped
    networks: [traefik]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}.entrypoints=web"
      - "traefik.http.services.${COMPOSE_PROJECT_NAME}.loadbalancer.server.port=80"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}.rule=Host(`${PREFIX}${NAMESPACE}-${APP_NAME}.${DOMAIN}`)"
