name: Reusable Deployment (Docker)
on:
  workflow_call:
    inputs:
      namespace:
        required: true
        type: string
      app_name:
        required: true
        type: string
      app_path:
        required: false
        type: string
      domain:
        default: chadstack.dev
        required: false
        type: string
      server_name:
        default: self-hosted
        required: false
        type: string

jobs:
  Docker:
    runs-on: ${{ inputs.server_name }}
    concurrency:
      group: deploy-${{ inputs.app_name }}-${{ github.ref_name }}
      cancel-in-progress: false
    env:
      NAMESPACE: ${{ inputs.namespace }}
      APP_NAME: ${{ inputs.app_name }}
      APP_PATH: ${{ inputs.app_path }}
      DOMAIN: ${{ inputs.domain }}
    steps:
      - uses: actions/checkout@v4
      - name: Deploy
        run: |
          set -e # Exit immediately if any command exits with a non-zero status
          export APP_PATH="${APP_PATH:-$APP_NAME}"
          export STAGE=$(case "$GITHUB_REF_NAME" in
            stage) echo stg ;;
            master) echo prd ;;
            develop) echo dev ;;
            preview) echo pre ;;
            *) echo "$GITHUB_REF_NAME" ;;
          esac)
          export COMPOSE_PROJECT_NAME="${STAGE}-${NAMESPACE}-${APP_NAME}"
          export REPO_PATH="/opt/git/${STAGE}-${{ github.event.repository.name }}"
          export PREFIX=""
          [ "$STAGE" != "prd" ] && export PREFIX="${STAGE}-" # removes "prd-" from subdomain

          # sync repo files to host server (/opt/git must be mapped)
          mkdir -p $REPO_PATH
          rclone sync ./ "$REPO_PATH"
          cd "$REPO_PATH/$APP_PATH"

          # Prepare Private AGE Key to enable SOPS decryption
          echo "${{ secrets.PRIVATE_SOPS_AGE_KEY }}" > /tmp/sops.key
          export SOPS_AGE_KEY_FILE=/tmp/sops.key
          chmod 600 /tmp/sops.key
          CONFIG_FILE="config.${STAGE}.env"
          SECRET_FILE="secret.${STAGE}.env"
          [ -f $CONFIG_FILE ] && set -a && source $CONFIG_FILE && set +a && echo "Loaded config from $CONFIG_FILE"
          [ -f $SECRET_FILE ] && set -a && source <(sops -d "$SECRET_FILE") && set +a && echo "Loaded secrets from $SECRET_FILE"
          rm /tmp/sops.key

          echo "Deploying $COMPOSE_PROJECT_NAME"
          docker compose pull
          docker compose up -d --force-recreate --build
